<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<form action="#" th:action="@{/courses/course/update/{id}(id=${course.getId()})}" th:object="${course}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="price">Pirce</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price">
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
    <input type="submit" value="Update Price">
</form>

</body>
</html>