<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
    <div th:replace="layout/header::header--css"></div>
</head>
<body>
<header th:replace="layout/header::header"></header>

<div th:replace="admin/panel::panel"></div>

<div>
    <div>
        <h2>Roles</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Role</th>
                <th scope="col">Users</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role:${roles}">
                <td th:text="${role.getId()}"></td>
                <td th:text="${role.getName()}"></td>
                <td>
                    <p th:each="user:${role.getUsers()}" th:text="${user.getSecondName()+' '+user.getFirstName()+' '+user.getEmail()}"></p>
                </td>
                <td><a th:href="@{/roles/edit/{id}(id=${role.getId()})}">Edit</a></td>
                <td><a th:href="@{/roles/role/delete/{id}(id=${role.getId()})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a class="btn btn-outline-secondary" href="/roles/form">Add a new role</a></p>
</div>
<div th:replace="layout/footer::footer"></div>

</body>
</html>